{% extends 'base.html' %}
{% load staticfiles %}
{% block extra_js_imports %}
<script type="text/javascript" src="{% static 'js/minesweeper.js' %}"></script>
{% endblock extra_js_imports %}

{% block content %}
<div class='container'>
    <div class='row'>
        <div class='col-md-12'>
            <h2>Minesweeper</h2>
            <div id="gamewrapper">
                <div id="gameboard">
                    {% for row in visible_array %}
                        {% for column in row %}
                            <!-- Use a flag favicon for a flag -->
                            {% if column == 'flagged' %}
                                <button class="location flag" x="{{ forloop.parentloop.counter0 }}" y="{{ forloop.counter0 }}"><i class="fa fa-flag" aria-hidden="true"></i></button>
                            <!-- For anything that is visible (but not a bomb), use the actual value. -->
                            {% elif column is not None %}
                                <button class="location visible" x="{{ forloop.parentloop.counter0 }}" y="{{ forloop.counter0 }}"> {% if column != 0 %} {{column}} {% endif %}</button>
                            <!-- Use a bomb favicon for a bomb -->
                            {% elif column == 'mined' %}
                                <button class="location bomb" x="{{ forloop.parentloop.counter0 }}" y="{{ forloop.counter0 }}"><i class="fa fa-bomb" aria-hidden="true"></i></button>
                            <!-- Otherwise don't display anything -->
                            {% else %}
                                <button class="location" x="{{ forloop.parentloop.counter0 }}" y="{{ forloop.counter0 }}"></button>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class='container'>
    <div class='row'>
        <div class='col-md-4 col-md-offset-4'>
            <div id='message' class={{ message_class }}>{{ message }}</div>
        </div>
    </div>
</div>

<div class='container'>
    <div class='row'>
        <div class='col-md-12'>
        <button class='btn btn-primary control' id='undo' value='undo'><i class="fa fa-undo" aria-hidden="true"></i></button>
        <button class='btn btn-flag not-activated control' id='toggle-flag' value='clear'><i class="fa fa-flag" aria-hidden="true"></i></button>
        <button class='btn btn-primary control' id='reset'>Reset</button>
        </div>
    </div>
</div>



{% endblock content %}
{% block extra_js %}
$('#reset').bind('click', function(e) {
    e.preventDefault();
    reset_game("{% url 'ajax_reset_game' %}", {{ game.id }});
});

$('#undo').bind('click', function(e) {
    e.preventDefault();
    var x = 0;
    var y = 0;
    var move_type = 'undo';
    submit_move('{% url 'ajax_submit_move' %}', {{ game.id }}, x, y, move_type );
});

$('#toggle-flag').bind('click', function(e) {
    e.preventDefault();
    toggle_flag_button();
});

$('.location').bind('click',function(e) {
    e.preventDefault();
    var x = $(this).attr('x');
    var y = $(this).attr('y');
    var move_type = $('#toggle-flag').val();
    submit_move('{% url 'ajax_submit_move' %}', {{ game.id }}, x, y, move_type );
});
{% endblock extra_js %}
